$default-bg-color: #95afc0;

$default-calendar-color: #dfe6e9;
$default-header-color: #130f40;


/* GENERAL STYLING */

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'Segoe UI', Arial;
  font-size: 32px;
}

body {
  min-width: 600px;
  margin: 0;

  color: $default-header-color;
  background-color: $default-bg-color;

  overflow-y: hidden;
}

button {
  padding: 0.6em 2em;

  font-size: 1em;

  background-color: $default-header-color;
  color: $default-calendar-color;

  margin: 0 auto;

  border: none;
  border-radius: 0.2rem;
}

figure {
  margin: 0;
  padding: 0;
}

.muted {
  opacity: 0.6;
}


/* main layout */

main {
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  grid-auto-rows: 100vh;

  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;

  transition: background-image 1000ms ease-in-out;

  & > * {
    margin: 0.2rem;

    opacity: 0.9;
  }
}

.left {
  display: grid;
  grid-template-rows: 25% auto;
  align-items: center;

  & .clock--panel {
    text-align: center;
  }

  & .clock {
    margin: 1.5rem 0;
    font-size: 4em;
  }
}

.right {
  display: grid;
  grid-gap: 0.5em;

  font-size: 0.5rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  text-align: center;
  white-space: nowrap;
  align-items: center;

  background-color: $default-header-color;
  color: $default-calendar-color;

  transition: background-color 1000ms ease-in-out;
}

/* CALENDAR DAYS */

.calendar--day {
  background-color: $default-calendar-color;
  box-shadow: -0.05rem 0.05rem 0.1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.2rem;

  transition: background-color 1000ms ease-in-out;
}

.primary {
  height: 100%;
  width: 100%;

  & .header {
    padding: 1em 0;
  }

  & .event {
    padding-top: 0.125em;
    padding-bottom: 0.125em;
  }
}

.secondary {
  display: grid;
  grid-template-columns: 30% auto;

  & .event {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.date--info .day, .temperatures .current {
  font-size: 2.4em;
  font-weight: bold;
}

.date--info * {
  margin: 0;
  padding: 0;
}

/* EVENTS */

.events {
  font-size: 0.8em;
}

.event {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  margin: 0.1em 0;
  padding-left: 0.5em;
  padding-right: 0.25em;

  animation: fadeinout 2s linear;
}

.event--summary {
  display: block;
  margin: 0;
  margin-left: 0.4em;

  font-weight: normal;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event--time {
  min-width: 5em;

  padding-right: 0.5em;
  margin-right: 0.25em;

  text-align: right;

  border-right-width: 1px;
  border-right-style: solid;

  & > * {
    margin: 0;
    white-space: nowrap;
  }
}

/* EVENT TRANSITIONS */

@keyframes fadeinout {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


/* WEATHER */

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
}

.temperatures {
  margin-right: 1em;

  & * {
    margin: 0;
  }
}

.secondary .temperatures {
  font-size: 1.2em;
  font-weight: bold;
}

.temp::after {
  content: '°';
}


/* AUTHORIZATION PAGE */

.text-center {
  text-align: center;
}
