/* TODO: font-size based on # of events */

/* GENERAL STYLING */

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Arial;
  font-size: 2vw;
}

body {
  margin: 0;
  height: 100vh;
}

.muted {
  opacity: 0.5;
}

/* main layout */

main#root {
  height: 100%;

  display: flex;
}

main > * {
  width: 50%;

  display: flex;
  flex-direction: column;
}

figure {
  margin: 0;
  padding: 0;
}

.left {

}

.right {
  border-left: 0.4em solid black;
  justify-content: space-around;
}


/* borders */

.event--time, .secondary .header {
  border-right: 1px solid #ddd;
}


/* EVENT TRANSITIONS */

@keyframes fadeinout {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* CLOCK */

.clock--panel {
  text-align: center;
}

.clock {
  margin: 1.5rem 0;
  font-size: 4rem;
  font-weight: normal;
}

/* DAY HEADERS */

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 0.25em 0.75em;
}

.header > * {
  margin: 0.5em;
}

.primary .header {
  padding: 1em 0;

  background-color: #30ABFF;
}

.primary, .secondary {
  text-align: center;
}

.primary .info {
  width: 60%;
}

.info * {
  margin: 0;
  padding: 0;
}

.info .day, .temperatures .current {
  font-size: 2em;
  font-weight: bold;
}

.secondary .header {
  flex-direction: column-reverse;

  margin: 0;
  width: 25%;
}

/* weather */

.primary .weather {
  width: 50%;
}

.secondary .weather {
  width: 60%;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.7em;
}

.temperatures {
  height: 100%;
}

.temperatures * {
  margin: 0;
}

/* MAIN CALENDAR */

.primary {
  flex-grow: 1;
}

.temp::after {
  content: '°';
}

/* SECONDARY CALENDAR  */

.secondary {
  font-size: 0.5rem;
  display: flex;

  padding: 0 0.75em;
}


/* EVENTS */

.secondary .events {
  flex-grow: 1;
}

.event, .event--small {
  display: flex;
  align-items: center;

  width: 100%;

  margin: 0.25em 0;
  padding: 0.25em 0.75em;

  opacity: 1;
  animation: fadeinout 2s linear;
}

.event--summary {
  margin: 0;

  font-size: 1.5em;
  font-weight: normal;
}

.event--time {
  padding-right: 0.5em;
  margin-right: 0.5em;

  text-align: right;
}

.event--time > * {
  margin: 0;
}

.weather--canvas {
  max-width: 100%;
  max-height: 100%;
}
