/* TODO: long event summaries shrink secondary header width */

/* GENERAL STYLING */

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'Segoe UI', Arial;
  font-size: 1.6vw;
}

body {
  max-height: 100vh;
  height: 100vh;

  margin: 0;

  background-color: #999;
}

.muted {
  opacity: 0.5;
}

/* main layout */

main#root {
  height: 100%;

  display: flex;
}

main > * {
  width: 50%;
  padding: 0.4em;

  display: flex;
  flex-direction: column;
}

figure {
  margin: 0;
  padding: 0;
}

.left {

}

.right {
  justify-content: space-between;
}


/* BORDERS */

.event--time, .secondary .header {
  border-right: 1px solid black;
}


/* EVENT TRANSITIONS */

@keyframes fadeinout {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* CLOCK */

.clock--panel {
  text-align: center;
}

.clock {
  margin: 1.5rem 0;
  font-size: 4rem;
  /* font-weight: normal; */

  color: white;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow:
       -3px 3px 0 #000;
}


/* MAIN CALENDAR */

.primary {
  flex-grow: 1;
}


/* SECONDARY CALENDAR  */

.secondary {
  font-size: 0.5rem;
  display: flex;
}


/* HEADERS */

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 0.25em 0.75em;
}

.header > * {
  margin: 0.5em;
}

.primary .header {
  padding: 1em 0;

  border-bottom: 2px solid #ddd;
}

.primary, .secondary {
  text-align: center;

  background-color: white;

  border: 1px solid black;
  box-shadow: -0.05rem 0.05rem 0.1rem;
  border-radius: 0.2rem;
}

.primary .info {
  width: 60%;
}

.info * {
  margin: 0;
  padding: 0;
}

.info .day, .temperatures .current {
  font-size: 2em;
  font-weight: bold;
}

.secondary .header {
  flex-direction: column-reverse;

  margin: 0;
  width: 25%;
  min-width: 25%;
}


/* EVENTS */

.secondary .events {
  flex-grow: 1;
}

.event, .event--small {
  display: flex;
  align-items: center;

  margin: 0.25em 0.75em;
  padding: 0.25em 0;

  opacity: 1;
  animation: fadeinout 2s linear;
}

.event--summary {
  margin: 0;

  font-size: 1.5em;
  font-weight: normal;

  text-align: left;
}

.event--time {
  padding-right: 0.25em;
  margin-right: 0.75em;

  text-align: right;
}

.event--time > * {
  margin: 0;

  white-space: nowrap;
}


/* WEATHER */

.weather {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 1.5em;
}

.temperatures {
  height: 100%;
  width: 100%;
}

.temperatures * {
  margin: 0;
}

.temp::after {
  content: '°';
}

.weather--canvas {
  max-width: 100%;
  max-height: 100%;
}
